.parametro-senha-botoes{
    display: flex;
    justify-content: center;
}
.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
}
.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
}
.parametro-senha__botao{
    background-color: var(--fundo-texto);
    color: var(--branco);
    border: 2px solid var(--borda);
    padding: 24px;
    font-size: 24px;
}
.parametro-senha__texto{
    padding: 24px;
}
.parametro-senha__texto{
   padding: 24px;
   border-top: 2px solid var(--borda);
   border-bottom: 2px solid var(--borda);
   margin: 0;
}
.parametro-senha__texto{
    padding: 24px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0;
    font-size: 24px;
}